/* body */
body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
}
/* Header */
header{
    background-color:#d1ccc0;
    text-align: center;
}

main{
    border-bottom:1px solid transparent;
}

footer{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
}
p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:200px;
}

/* クルクル */
.img_top{
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    animation: r1 30s linear infinite;
  }
   
  @keyframes r1 {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


/* 選ぶ手のところ */
ul{
    padding: 0;
    border-top: 1px solid transparent;
    display:flex;  /* 定義 */
    justify-content: center;
    width:100%;    
}

/* 手の画像 */
li {
    margin: 0 3%;
    padding: 5%;
    max-width: 150px;
    max-height: 150px;
}

li{
    text-align: center;
    list-style-type:none;
    border: 1px solid transparent;
    background-color: #FFF;
    display:table-cell;  /* 定義 */
    cursor: pointer;
}

/* 手の画像にカーソル */

li:hover {
    background: #f7f1e3;
    color: #fff;
    border-radius: 50%;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    }

    /* TOP */
.top{
    width: 10%;
    display: flex;
    justify-content: center;  
    margin: 0 auto; 

}

/* PCの手 */

.kekka {
    display: flex;
    justify-content: center;
    max-height: 200px;
}

.pc {
    max-width: 30%;

}
img.kekka {
    max-height: 100%;
    width: auto;
}

/* 結果発表 */

.people {
    display: flex;
    justify-content: center;
    max-height: 300px;
    margin: 10%;
}

.feel {
    max-width: 50%;
    min-width: 120px;
}

